<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="left_panel"></div>
    </div>
    <div class="col-md-4">
      <div class="login_panel">
        <div class="login_box">
          <div class="tab_heading">
            <ul>
              <li [ngClass]="{'active':isLogin}" (click)="toggleLoginTab()">Login</li>
              <li [ngClass]="{'active':!isLogin}" (click)="toggleLoginTab()">Register</li>
            </ul>
          </div>
          <div class="tab_content">
            <div *ngIf="isLogin">
                <input type="text" class="panel_inputs" [(ngModel)]="users.email" placeholder="Username" autocomplete="false"/>
                <input type="password" class="panel_inputs"  [(ngModel)]="users.password" placeholder="Password"/>
                <ul class="forgots">
                  <li><input type="checkbox" name="keep_me_login" id="keep_me_login"> <label for="keep_me_login">Keep me login</label></li>
                  <li><a>Forgot password</a></li>
                </ul>
                <button type="submit" class="button-primary" (click)="login(users)">Login</button>
            </div>
            <div *ngIf="!isLogin">
              <input type="text" class="panel_inputs" placeholder="Name"/>
              <input type="text" class="panel_inputs" placeholder="Email"/>
              <input type="text" class="panel_inputs" placeholder="Password"/>
              <input type="text" class="panel_inputs" placeholder="Confirm Password"/>
              <input type="text" class="panel_inputs" placeholder="Date of Birth"/>
              <select placeholder="Gender" class="panel_inputs">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="others">Others</option>
              </select>
              <button type="submit" class="button-primary">Submit</button>
            </div>
             
        </div>
    </div>
</div>