.left_panel{
    background: url('../../assets/img/walls_hero@2x.png');
    background-size: 100% 100%;
    height: 600px;
    width:100%;
}

.login_panel{
    padding: 20px;
    margin-top: 150px;
}
.tab_heading{
    ul{
        margin: 0px;
        padding: 0px;
        width: 100%;
        li{
            display: inline-block;
            width: 50%;
            text-align: center;
            list-style: none;
            padding: 10px 20px;
            background: #fff;
            color: #0a5bff;
            cursor: pointer;
            border:2px solid #fff;
            &:hover,&.active{
                background: #0a5bff;
                color: #fff;
                border:2px solid #fff;
            }
        }
        
    }
}
.tab_content{
    padding: 10px;
    background: #fff;
}
ul.forgots{
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 100%;
    li{
        display: inline-block;
        width: 50%;
        label{
            position: relative;
            top: -2px;
            left: 10px;
            cursor: pointer;
        }
        a{
            color: #0a5bff;
            cursor: pointer;
            text-align: right;
            display: block
        }
    }
}
.panel_inputs{
    padding: 5px 10px;
    border:2px solid #0a5bff;
    width: 100%;
    color: #222;
    margin-bottom: 10px;
}
option{
    color: #222;
}
.button-primary{
    width: 100%;
    background: #0047D6;
    color: #fff;
    border: none;
    height: 40px;
    font-size: 14px;
}